# Node
NODE_ENV=development
HOST=0.0.0.0
PORT=3333
LOG_LEVEL=info

# App
APP_KEY=your-app-key-here
APP_URL=http://localhost:3333

# Session
SESSION_DRIVER=memory

# X3
X3_ENV=test
X3_TEST_HOST=your-x3-host
X3_TEST_PORT=8124
X3_TEST_USERNAME=your-username
X3_TEST_PASSWORD=your-password
X3_TEST_POOL=your-pool
